*{
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header, .footer{
    background-color: #1f2937;
    padding: 0px 120px;
}

.header h2{
    font-size: 24px;
    color: #f9faf8;
}

ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 16px;
    flex-wrap: wrap;
}

ul a{
    color: #e5e7eb;
    text-decoration: none;
}

h1{
    font-size: 48px;
    font-weight: 900;
    margin: 0px
}

.container-one{
    display: flex;
    padding: 100px 120px;
    background-color: #1f2937;
    gap: 24px;
}

.left{
    flex: 1;
    color: #f9faf8;
}

.container-one img{
    flex: 1;
    width: 200px;
    height: auto;
}

.left button{
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    padding: 4px 16px;
    font-weight: 700;
    border-radius: 5px;
}

.container-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    padding: 70px;
}

.container-two h2{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.container-cards{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 50px 0px;
    gap: 40px;
}

.cards{
    width: 140px;
    height: auto;
}

.cards img{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.container-three{
    font-size: 36px;
    font-weight: 300;
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 120px 150px;
}

.container-three i{
    width: 800px;
    flex: 1;
}

.container-three p{
    width: 800px;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
}

.container-four{
    display: flex;
    justify-content: center;
    padding: 150px;
}

.call-to-action{
    display: flex;
    background-color: #3882f6;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    color: #f9faf8;
    padding: 60px 120px;
    border-radius: 10px;
}

h3{
    padding-bottom: 5px;
}

.call-to-action p, h3{
    margin: 0px;
    color: #e5e7eb;
}

.call-to-action button{
    font-size: 14px;
    font-weight: 500;
    color: white;
    width: 110px;
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 5px;
    padding: 7px 10px;
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 20px;
}